@import "../variables";

.cards {
  padding: $section-spacing 0;

  &__grid {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacer * 2;
    }
  }

  &__item {
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: $spacer;

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius;
    }
  }

  &__title {
    margin-bottom: $spacer;
  }

  &__text {
    margin-bottom: $spacer * 1.5;
  }
}