@import "../variables";

.cta {
  padding: $section-spacing 0;
  background-color: $primary;
  color: $white;

  &__content {
    text-align: center;

    @include media-breakpoint-up(md) {
      max-width: 60%;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: $spacer * 2;
  }

  &__description {
    margin-bottom: $spacer * 2;
    opacity: 0.9;
  }

  .btn-outline-light {
    &:hover {
      color: $primary;
    }
  }
}