@use '../variables' as *;
@use '../mixins' as *;
@import 'block-options';

.wptsp-hero {
  @extend %block-base;
  padding: $section-spacing 0;
  background-size: cover;
  background-position: center;
  position: relative;

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: $spacer * 2;
  }

  &__description {
    margin-bottom: $spacer * 3;
    font-size: $font-size-lg;
  }

  &__buttons {
    display: flex;
    gap: $spacer;
    justify-content: var(--align, center);
    flex-wrap: wrap;
  }
}
