@import "../variables";
@import "../mixins";

.hero {
  position: relative;
  padding: $section-spacing 0;
  background-color: $light;

  &__content {
    @include media-breakpoint-up(md) {
      max-width: 60%;
    }
  }

  &__title {
    margin-bottom: $spacer * 2;
  }

  &__description {
    margin-bottom: $spacer * 1.5;
  }
}