@use '../variables' as *;
@use '../mixins' as *;
@import 'block-options';

.wptsp-text {
  @extend %block-base;
  padding: $section-spacing 0;

  &__content {
    width: 100%;
    max-width: var(--text-width, 800px);
    margin-left: auto;
    margin-right: auto;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
