#  WordPress Core
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/plugins/*
!wp-content/plugins/your-theme-name/  #  Keep your theme
wp-content/themes/*
!wp-content/themes/your-theme-name/    #  Keep your theme
wp-content/upgrade/
debug.log

#  Dependencies
node_modules/
package-lock.json
yarn.lock

#  Development
.DS_Store
*.map
*.log
*.tmp
*.swp

#  Production
*.po
*.mo

#  Gulp and Webpack
dist/
.cache

#  IDE and OS
.idea/
.vscode/
Thumbs.db
