// Import Bootstrap functions and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Theme mixins can go here
@mixin section-padding {
  padding: $section-spacing 0;
}

@mixin container-padding {
  padding-left: $container-padding;
  padding-right: $container-padding;
}