@import "../variables";

.site-footer {
  padding: $spacer * 2 0;
  background-color: $dark;
  color: $light;

  a {
    color: rgba($light, 0.8);
    text-decoration: none;

    &:hover {
      color: $light;
    }
  }
}