@import "../variables";

.site-header {
  padding: $spacer 0;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    img {
      max-height: 40px;
      width: auto;
    }
  }
}